@model GuestBookSystem.Models.Guestbook
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutConfirmed.cshtml";
}

@using (Html.BeginForm())
{
    <div class="info">
        <table class="confirmed">
            <tr>
                <td>确认是否删除</td>
            </tr>
            <tr>
                <td>留言人：@Model.User.Name</td>
            </tr>
            <tr>
                <td>内容：@Model.Content</td>
            </tr>
            <tr>
                <td>时间：@Model.CreatedOn</td>
            </tr>
            <tr>
                <td class="button"><input type="submit" value="确认"></td>
            </tr>
        </table>
        @Html.ActionLink("X","Index", new { }, new { @class="close"})
    </div>
}