@model IEnumerable<GuestBookSystem.Models.Guestbook>
@{ ViewBag.Title = "Index"; }

<h2>管理员后台首页</h2>
@foreach (var gb in Model)
{
    <p>留言人：@gb.User.Name，时间：@gb.CreatedOn</p>
    <p>标题：@gb.Title</p>
    <p>内容：@gb.Content</p>
    <p>@Html.ActionLink("删除留言", "Delete", new { id = gb.GuestbookId })</p>
    <hr />
}
