<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理员后台</title>
</head>

<body>
    <div class="title">
        <div class="welcome">
            欢迎 xxx
        </div>
    </div>
    <div class="main">
        <div class="left">
            <ul>
                <li>管理留言</li>
                <li>审核留言</li>
                <li>登出</li>
            </ul>
        </div>
        <div class="right">
            <table>
                <thead>
                    <tr>
                        <td>留言人</td>
                        <td>时间</td>
                        <td>标题</td>
                        <td>内容</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>