<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理员后台</title>
    <link rel="stylesheet" href="/Content/admin-index.css">
    <link rel="stylesheet" href="/实验三/Content/admin-index.css">
</head>
<body>
    <div class="title">
        <div class="welcome">
            欢迎 xxx
        </div>
    </div>
    <div class="main clearfix">
        <div class="left">
            <ul>
                <li><a href="" class="active">管理留言</a></li>
                <li><a href="">审核留言</a></li>
                <li><a href="">登出</a></li>
            </ul>
        </div>
        <div class="right">
            <table>
                <thead id="sticky">
                    <tr class="clearfix">
                        <td>留言人</td>
                        <td>时间</td>
                        <td>标题</td>
                        <td>内容</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="clearfix">
                        <td><span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius vel perferendis quibusdam! Mollitia est nemo natus voluptates odio porro, soluta eaque magnam suscipit voluptatibus, necessitatibus perspiciatis molestiae dolores non tenetur.</span></td>
                        <td><span>2020-10-10 20:20:20</span></td>
                        <td><span>标题</span></td>
                        <td><span>内容</span></td>
                        <td><span class="button"><a href="">操作</a></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>

