<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../Content/GuestBook/main.css">
</head>
<body>
    <img src="../../bg.jpg">
    <div class="guestbook clearfix">
        <div class="main">
            <div class="title">
                <span>欢迎访问留言本</span>
            </div>
            <div class="buttons">
                <div class="button login">
                    <span>用户登录</span>
                </div>
                <div class="button register">
                    <span>用户注册</span>
                </div>
            </div>
            <div class="list">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <span class="username">user</span>:
                                <span class="context">context</span>
                                <span class="date">date</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>