
@{
    ViewBag.Title = "Enroll";
}

<h2>Enroll</h2>

<form action="/User/Enroll" method="POST">
    <table>
        <tr>
            <td>用户号：</td>
            <td><input type="text" name="id" id="id" placeholder="请输入用户号"></td>
        </tr>
        <tr>
            <td>用户名：</td>
            <td><input type="text" name="username" id="username" placeholder="请输入用户名"></td>
        </tr>
        <tr>
            <td>密码</td>
            <td><input type="password" name="password" id="password" placeholder="请输入密码"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="提交"></td>
        </tr>
    </table>
</form>
