@model MVCTest.Models.User
@{
    ViewBag.Title = "Modify";
}

<h2>Modify</h2>

<h2>你好！ @Model.username</h2>

<form action="" method="POST">
    <table>
        <tr>
            <td>用户号： @Model.id</td>
            <td><input type="text" name="id" id="id" placehold="请输入需要修改的用户号"></td>
        </tr>
        <tr>
            <td>用户名：@Model.username</td>
            <td><input type="text" name="username" id="username" placehold="请输入需要修改的用户名"></td>
        </tr>
        <tr>
            <td>密码：@Model.password</td>
            <td><input type="text" name="password" id="password" placehold="请输入需要修改的密码"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="提交"></td>
        </tr>
    </table>
</form>
