<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<h2>Show</h2>

<h2>管理员界面</h2>

<table>
    <thead>
        <tr>
            <td>用户号</td>
            <td>用户名</td>
            <td>密码</td>
            <td>操作</td>
        </tr>
    </thead>
    <tbody>
        
        <tr>
            <td id="test">@user.id</td>
            <td>@user.username</td>
            <td>@user.password</td>
            <td>
                <form action="/User/Delete" method="POST">
                    <input type="text" name="id" id="id" value="123">
                    <input type="submit" value="删除">
                </form>
            </td>
        </tr>
    </tbody>
</table>

<script>
    function deleteRow(obj) {
        // var obj = document.createElement("td")
        var user_id =  document.getElementById("id")
        // console.log(obj.parentElement.parentElement.localName)
        while(!isTd(obj)) {
            obj = obj.parentElement;
            // console.log(obj.localName)
        }
        // obj.parentElement.parentElement.remove(obj.parentElement)
        user_id.value = obj.parentElement.firstElementChild.innerHTML
        // console.log(user_id.value)
    }

    function isTd(obj) {
        if(obj.localName == "td" || obj.localName == "td".toUpperCase()) {
            return true
        }
        else {
            return false
        }
    }
</script>

</html>