
@{ ViewBag.Title = "Index2"; }

<form action="/Default/Login" method="post">
    <label>
        用户名：
        <input type="text" name="username"> <br />
    </label>

    <label>
        密 码：
        <input type="password" name="psd" maxlength=6>
    </label>

    <br />
    <input type="submit" value="提交">
    <input type="reset" value="重填">
</form>
