@{ ViewBag.Title = "ShowInfo"; }

<h2>ShowInfo</h2>

<p>手机号码：@ViewBag.phone;</p>
<p>密码：@ViewBag.password;</p>
<p>邮箱：@ViewBag.mailbox ;</p>
<p>验证码：@ViewBag.verifycode;</p>
<p>性别：@ViewBag.sex;</p>
<p>生日：@ViewBag.birthday;</p>
<p>年龄：@ViewBag.age;</p>
<p>籍贯：@ViewBag.nativeplace; @ViewBag.city;</p>
<p>学历：@ViewBag.education;</p>
<p>月薪：@ViewBag.money;元</p>
<p>爱好：@ViewBag.hobbys</p>
<p>简历：@ViewBag.resume;</p>
<p>图片：<img src="~/Upload/@ViewBag.photo" style="width: 100px; height: 100px; border-radius: 50%; display: inline-block;" /></p>
