.clearfix {
    content: "";
    display: table;
    clear: both;
}

.main .title {
    color: blue;
    font-weight: bold;
    padding: 10px;
    padding-left: 15px;
}

.main select {
    width: 100px;
    padding-left: 3%;
    text-align: center;
}

.main input {
    outline-style: none;
}

.main table {
    border-collapse: separate;
    border-spacing: 0px 20px;
}

.main tr td:first-child {
    text-align: right;
    font-weight: bold;
}

.main tr td span.info:not(#verifycode_exchange) {
    display: inline-block;
    text-indent: 20px;
}

#verifycode_exchange {
    cursor: pointer;
    user-select: none;
    background-color: #fff;
    padding-right: 5px;
    margin-left: 20px;
    background-clip: border-box;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.main tr td span.highlight {
    color: red;
}

.main tr td .img img#photo {
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.main tr td input#money {
    display: inline-block;
    width: 150px;
}

#select_photo {
    display: none;
}
