<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/Student/Add" method="POST">
        <table>
            <tr>
                <td><span>学生编号</span></td>
                <td><input type="text" name="student_id" id="student_id" placeholder="请输入学生编号"></td>
            </tr>
            <tr>
                <td><span>学生姓名</span></td>
                <td><input type="text" name="student_name" id="student_name" placeholder="请输入学生姓名"></td>
            </tr>
            <tr>
                <td><span>学生年龄</span></td>
                <td><input type="text" name="student_age" id="student_age" placeholder="请输入学生年龄"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="保存"></td>
            </tr>
        </table>
    </form>
</body>
</html>