@model List<WebApplication1.DBModels.Student>
@{
    ViewBag.Title = "学生信息";
}
<h2>学生信息列表</h2>
@foreach (Student s in Model)
{
    @:序号 @s.Id
    <br />
    @:姓名 @s.Name
    <br />
    @:年龄 @s.Age
    <br />
}
<a href="/TestEF/Create">添加记录</a>
