*{
    margin: 0px;    /* 将默认的外边距设为0px */
    padding: 0px;   /* 将默认的内边距设为0px */
}

body{
    background-image: url(../images/page-bg.jpg);   /* 设置背景图片 */
    background-repeat: no-repeat;   /* 背景图片不重复 */
    background-attachment: fixed;   /* 固定背景图片 */
}


h4{
    font-size: 24px;    /* 设置h4字体大小为24px */
    font-weight: 700;   /* 设置h4字体加粗 */
    color: #fff;    /* 设置h4字体颜色为白色 */
    letter-spacing: 0.5px;  /* 字间距为0.5px */
    padding: 10px;  /* 设置h4四周内边距为10px */
}

.nav{
    width: 100%;    /* 顶部导航栏宽度与body宽度相等 */
    background-color: #333; /* 设置背景颜色为#333333 */
    height: 50px;   /* 高度为30px */

    position: absolute; /* 设置绝对位置，脱离文档流 */
    top:0px;    /* 绝对位置离窗口顶部0px */
    left: 0px;  /* 离窗口左部0px */
    z-index: 999;   /* 元素层级999 */

}

.nav ul{
    list-style-type: none;  /* 取消列表默认样式 */
}

.nav>ul>li{
    float: left;    /* 将nav的第一代子元素中的ul中的第一代子元素li设置为浮动*/
}

.nav ul li a:link,
.nav ul li a:visited{
    text-decoration: none;  /* 取消默认链接下划线 */
    color: #fff;    /* 颜色设置为#ffffff */

    display: block; /* 设为块元素 */
    width: 160px;   /* 宽度为160px */
    height: 50px;   /* 高度为50px */
    line-height: 50px;  /* 行间距为50px */

    text-align: center; /* 居中对齐 */

    background-color: #333; /* 背景颜色为#333333 */
}

.nav ul li a:hover,
.nav ul li a:active{
    background-color: #222; /* 设置背景颜色为#222222 */
}

.nav .dropdown-content{
    display: none;  /* 设置隐藏 */
}

.nav .dropdown:hover .dropdown-content{
    display: block; /* 当移动到.dropdown上的时候将.dropdown-content显示出来 */
}

.content{
    width: 100%;    /* 设置宽度为body宽度 */
    margin-top: 50px;   /* 顶部外边距为50px */
}

.column{
    float: left;    /* 设置为左浮动 */
}

.content-left{
    width: 20%; /* 设置.content-left是.content宽度的20% */

    position: absolute; /* 设置为绝对位置 */
    top:50px;   /* 离顶部50px */
    left: 0px; /* 离左边0px */
}

.content-right{
    margin-left: 20%;   /* 设置左外边距20% */
    width: 80%; /* 设置宽度80% */
}

.content-left .container{
    background-color: #a43f49;  /* 设置背景颜色为#a43f49 */
    height: 900px;  /* 设置高度为900px */
    text-align: center; /* 居中对齐 */
}

.container .author-content{
    padding: 30px 0px;  /* 上下内边距为30px 左右内边距为0px */
}

.author-content img{
    width: 70%; /* 设置宽度为70% */
    height: 70%;    /* 设置高度为70% */
    border-radius: 50%; /* 设置为圆形 */
}


.author-content p{
    font-size: 12px;    /* 设置字体大小为12px */
    font-style: italic; /* 设置斜体 */
    color: #fff;    /* 设置颜色为#ffffff */
    padding-top: 10px;  /* 设置顶部内边距为10px */
}

.left-nav ul li a:link,
.left-nav ul li a:visited{
    text-decoration: none;  /* 取消默认链接下划线 */

    display: block; /* 修改为块模型 */
    height: 70px;   /* 设置高度为70px */
    line-height: 70px;  /* 设置行间距为70px */

    font-size: 16px;    /* 设置字体大小为16px */
    font-weight: 700;   /* 加粗 */
    color: #fff;    /* 颜色#ffffff */

    border-top: 1px solid #fff; /* 设置顶部边框1px宽、实线、#ffffff */
}

.left-nav ul li:last-child a{
    border-bottom: 1px solid #fff;  /* 设置底部边框1px宽、实线、#ffffff */
}

.left-nav ul li a:hover,
.left-nav ul li a:active{
    background-color: #fff; /* 设置背景颜色为#ffffff */
    color: #8c363e; /* 设置颜色为#8c363e */

}

.content-right .section{
    padding: 40px;  /* 设置内边距为40px */
    color: #fff;    /* 设置颜色为#ffffff */
    border-bottom: 2px solid gray;  /* 设置底部边框2px宽、实线、gray */
}

.content-right .section-heading{
    text-align: center; /* 居中对齐 */
    padding: 80px 100px;    /* 上下内边距80px 左右内边距100px */
}

.section-heading h2{
    font-size: 32px;    /* 字体大小32px */
    font-weight: 700;   /* 加粗 */
}

.line-dec{
    width: 60px;    /* 宽度60px */
    height: 3px;    /* 高度3px */
    background-color: #a43f49;  /* 背景颜色#a43f49 */
    margin: 10px auto;  /* 上下外边距10px，左右居中对齐 */
}

.section-heading span{
    letter-spacing: 0.5px;  /* 字间距0.5px */
}

.section .post{
    height: 250px;  /* 高度250px */

    margin: 60px auto;  /* 上下外边距60px 左右居中对齐 */
    padding: 100px 60px;    /* 上下内边距100px 左右内边距60px */

    border-top: 2px solid rgba(250, 250, 250, 0.5); /* 设置顶部边框2px宽、实线、 rgba(250, 250, 250,0.5) */

    text-align: justify;    /* 分散对齐 */
}

.left-image,
.right-text,
.left-text,
.right-image{
    float: left;    /* 左浮动 */
    width: 50%; /* 宽度50% */
}

.left-image img,
.right-image img{
    width: 90%; /* 宽度90% */
    border-radius: 5px; /* 5px的圆角 */
}

.right-image{
    text-align: right;  /* 右对齐 */
}

.works {
    height: 700px;  /* 宽度700px */
    margin: 60px auto;  /* 上下外边距60px 左右居中对齐 */
    padding: 80px 20px; /* 上下内边距80px 左右20px */
    border-top:2px solid rgba(250, 250, 250, 0.5);  /* 设置顶部边框2px宽、实线、 rgba(250, 250, 250,0.5) */
}

.works table td{
    padding: 5px;   /* 内边距5px */
}

.works table img{
    width: 100%;    /* 宽度100% */
    border-radius: 5px; /* 圆角5px */
    opacity: 0.7;   /* 不透明度0.7 */
}

.works table img:hover{
    opacity: 1; /* 不透明度1 */
    cursor: pointer;    /* 设置指针样式 */
    box-shadow: 2px 2px 10px rgba(250, 250, 250, 0.5);  /* 阴影位置 上2px 左2px 10px大小 颜色 rgba(250, 250, 250, 0.5) */
}