@*@Model MVCTest.Models.student*@
@{ ViewBag.Title = "Detail"; }

<h2>Detail</h2>

@ViewBag.massage
<h2>id = @Model.student_id</h2>
<h2>name = @Model.student_name</h2>
<h2>age = @Model.student_age</h2>
