@model List<FirstAspNet.Models.Student>

@{ ViewBag.Title = "List"; }

<h2>List</h2>

@*<h2>一共 @Model.Count 条数据：</h2>*@
@foreach (FirstAspNet.Models.Student s in Model)
{
<p>ID= @s.id </p>
                <p>Name= @s.name </p>
                                <p>Age= @s.age </p>}
